.extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    /* align-items: center */
}

.extras > div {
    align-self: center;
    margin: 1rem;
}