.navbar {
    margin-top: 10px;
    margin: auto;
    height: 130px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > img {
    height: 80px;
    width: 80px;
}