.navbar {
    height: 130px;
    width: 90vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > img {
    height: 80px;
    width: 80px;
}