.header {
    background-color: rgba(0, 0, 0, .4);
    background-image: url("https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=2500w");
    width: auto;
    height: 110vh;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: 100px 200px;
}